/* Estilo principal del contenedor de la serie */
.serie-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Estilo del encabezado de la serie */
.serie-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

/* Estilo del nombre de la serie */
.serie-name {
  margin: 0.5em 0em;
  padding: 4px; /* Agrega espacio alrededor del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el h3 */
}

.serie-name:hover {
  text-decoration: underline; /* Subraya el texto */
  text-decoration-color: black; /* Color del subrayado en negro */
}

/* Estilo de la serie destacada */
.destacado p {
  background-color: yellow;
}

/* Estilo del botón de agregar */
.add-button {
  color: blue; /* Color del texto */
  background: none; /* Sin fondo */
  padding: 0px;
  margin: 0px;
  margin-right: 4px;
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.add-button:hover {
  text-decoration: underline;
}

.add-button:active {
  color: darkblue;
}

.disabled {
  cursor: default;
  color: black;
}

.disabled:hover {
  text-decoration: none;
}

.serie-info p {
  padding-left: 15px;
  margin: 6px 0;
}
