<div class="search-section">
    <div class="alphabet-container">
        <a *ngFor="let e of letrasYNumeros" (click)="buscarPorLetraNumero(e)"
            [class.active]="e === letraNumeroActivo">{{ e }}</a>
    </div>

    <div id="search-component" class="search-container">
        <label for="search-box" class="search-label"></label>
        <input #searchBox id="search-box" class="search-input" placeholder="Nombre de la serie" />
        <button (click)="buscarPorNombre(searchBox.value)" class="search-button">Buscar</button>
    </div>
</div>

<hr>

<div>
    <div *ngFor="let s of series; let i = index">
        <app-catalogo-serie-item [serie]="s" [destacada]="seriesDestacadas[i]"></app-catalogo-serie-item>
    </div>
</div>

